.buy-info-box {
    font-size: 17px;
    border: 2px solid black;
    background-color: #0C1435;
    width: 650px;
    height: 200px;
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
    margin-left: 400px;
    border-radius: 20px;
}

.flex-most-options, .flex-country-options, .flex-country-options1, .flex-country-options2, .flex-country-option3, .flex-country-option4, .flex-country-option5, .flex-country-option6, .flex-country-option7, .flex-country-options8, .flex-country-options9, .flex-country-options10, .flex-country-options11, .flex-country-options12, .flex-country-options13, .flex-country-option14, .flex-last-option {
    display: flex;
}

.popular, .iconic {
    margin-left: 230px;
    margin-top: 50px;
}

.popular, .iconic  {
    background-color: #203036;
    width: 400px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
}

.popular a, .iconic a, .italy a, .switzerland a, .engalnd a, .germany a, .france a {
    text-decoration: none;
    color: #ffffff;
}

.italy, .switzerland, .engalnd, .germany, .france {
    background-color: #0C1435;
    margin-left: 40px;
    width: 310px;
    margin-top: 40px;
    text-align: center;
    font-size: 25px;
    border-radius: 20px;
}