body {
    overflow-x: hidden;
}


.front-top {
    width: 100%;
    height: 600px;
    top: 0;
    left: 0;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}

.front-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.front-top-content {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.600));
    height: 100%;
    width: 100%;

    position: absolute;
}

.title {
    top: 55%;
    left: 0;
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
    position: absolute;
}

.title h2 {
    color: white;
    font-size: 60px;
    margin-bottom: 5px;
}

.title span {
    color: white;
    margin-top: 0px;
}

h1 {
    font-size: 1px;

    color: white;
}

.page-content {
    margin-left: 5%;
    margin-right: 5%;
    min-height: 100vh;
    margin-top: 50px;
    padding-bottom: 200px;

    color: #203036;
}

.page-content .titles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titles h2 {
    font-size: 55px;
    margin-bottom: 0px;
}

.content-positions {

    margin-top: 125px;

    justify-content: center;
    align-items: center;
    background-color: #2030365b;
    border-radius: 5px;
    padding: 20px;
}

.content-positions h3 {
    text-align: center;
    margin-bottom: 75px;
    color: #203036;
}

.positions {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.positions a{
    text-decoration: none;
    color: white;
}

.positions a:hover{
    transition: 0.3s;
    transform: scale(1.05);
    background-image: linear-gradient(to top, rgba(8, 96, 57, 0.799), rgba(0, 0, 0, 0)),
    url(/photos/squiggly3.png);
}

.position {
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 475px;
    border-radius: 5px;

    background-image: url(/photos/squiggly3.png);
    background-repeat: no-repeat;
    background-position: center;
    
}

.position img {
    width: 300px;
    height: 325px;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}

.position h4 {
    font-size: 25px;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-bottom {
    margin-top: 125px;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-bottom p {
    font-size: 20px;
}

.content-bottom h4 {
    margin-bottom: 0px;
}

.account {
    margin-top: 50px;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.account a {
    text-decoration: none;
    color: white;
}

.create, .login {
    background-color: #203036;    
    padding: 5px 15px 5px 15px;
    border-radius: 99px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
    font-size: 25px;
    cursor: pointer;
}

.create:hover, .login:hover {
    transition: 0.3s;
    transform: scale(1.1);
    background-image: linear-gradient(to top, rgba(8, 96, 57, 0.799), rgba(8, 96, 57, 0.799)),
    url();
}

@media (max-width: 1375px) {
    .position {
        width: 250px;
        height: 400px;
    }
    
    .position img {
        width: 250px;
        height: 275px;
    }
    
    .position h4 {
        font-size: 20px;
    }
}

@media (max-width: 1175px) {
    .position {
        width: 225px;
        height: 400px;
    }
    
    .position img {
        width: 225px;
        height: 275px;
    }

}

@media (max-width: 1000px) {
    .position {
        width: 200px;
        height: 350px;
    }
    
    .position img {
        width: 200px;
        height: 240px;
    }
    
    .position h4 {
        font-size: 18px;
    }
}

@media (max-width: 1000px) {
    .positions {
        overflow-x: scroll;
        overflow-y: hidden;

        gap: 25px;
    }
}