/* STICKY HEADER + FOOTER*/
html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #203036; /* Same as header and footer */
  }
  
  body {
    /*min-height: 100%; /* Use if set on container, not body */
    font-size: 2rem;
    display: flex;
    flex-direction: column;
  }
  
  header.page-header, footer.page-footer {
    flex-grow: 0; /* Only takes the place it needs */
    flex-shrink: 0;
    color: #fafafa;
    background-color: #203036;
    padding: 10px;
    z-index: 99999;
  }
  
  main.page-body {
    flex-grow: 1; /* Lets main take all available space */
    padding: 0px; /* endret det til 0*/
    margin: 0px;
    background-color: #fafafa;
    color: black;
  }

  /* END STICKY HEADER + FOOTER*/

  /* HEADER CODE */

  #header-logo img {
    height: 80px;
    width: 110px;
    float: left;
    padding-top: 5px;
    padding-left: 20px;
  }

  #header-icons img {
    height: 40px;
    width: 40px;
    padding-right: 15px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 30px;
    float: right;
  }

  #header-icons div {
    padding-top: -100px;
  }

  #links-header a {
    float: right;
    padding-right: 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-bottom: 20px;
  }

  #links-header {
    padding-bottom: 10px;
    padding-top: 40px;
  }

  /* END HEADER CODE */

  /* FOOTER */
  .page-footer {
    display: flex;
    font-size: 25px;
    line-height: normal;
  }

  .page-footer a {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }

  #footer-info-box {
    float: left;
  }

  #footer-info-box h1, #footer-about-box h1, #footer-work-box h1, #footer-services-box h1 {
    font-size: 25px;
    text-align: center;
  }

  #footer-about-box h1, #footer-work-box h1 {
    width: 300px;
  }

  #footer-about-box a, #footer-work-box a {
    width: 250px;
  }

  #footer-info-box h1, #footer-info-box a {
    width: 250px;
  }

  #footer-services-box h1, #footer-services-box a {
    width: 150px;
  }

  #footer-about-box a {
    margin-left: 80px;
    text-align: center;
  }

  #footer-info-box p, #footer-about-box a {
    font-size: 17px;
    text-align: center;
  }

  #footer-longer-text {
    margin-left: -20px;
  }

  #footer-social-media-box {
    margin-top: 250px;
    display: flex;
  }

  #footer-about-box {
    margin-left: 90px;
  }

  #footer-work-box, #footer-services-box {
    margin-left: 100px;
  }

  #footer-call-icon-box {
    margin-left: -220px;
    margin-top: 270px;
    display: flex;
  }

  #footer-call-icon-box p, #footer-mall-icon-box p {
    font-size: 20px;
    width: 100px;
    padding-left: 10px;
    margin-top: 15px;
  }

  #footer-call-icon-box img, #footer-mall-icon-box img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
  }

  #footer-mall-icon-box {
    margin-top: 320px;
    margin-left: -150px;
    display: flex;
  }

  /* END FOOTER*/
