body {
  overflow-x: hidden;
}


/* Top Picture & filter*/

.top-picture {
  position: relative;
  height: 710px;
  width: 105%;
  top: 0;
  left: 0;
  margin-top: -1000;
  padding: 0px;
}

.top-picture-background {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.175)),
  url(/photos/houseonahand.jpeg);
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  margin-top: -10px;
  margin-left: -10px;
  padding: 0px;
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .picture-content {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: white;

    .title-top-picture {
      position: absolute;
      h3 {
        font-size: 39.5px;
        margin-bottom: 0px;
      }
      h2 {
        font-size: 100px;
        margin-top: 5px;
      }
    }

    .filters-top-picture {
      margin-top: 400px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      background-color: white;
      color: #203036;
      border-radius: 99px;
      justify-content: space-evenly;
      align-items: center;
      width: 975px;
      height: 75px;
      gap: 5%;
      box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);

      #last-filter {
        margin-right: 50px;
      }

      .result-top-picture {
        display: flex;
        justify-content: center;
        text-align: center;
        border-radius: 99px;
        padding: 10px;
        background-color: #203036;
        margin-right: 5%;
        width: 100%;
        box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);

        a {
          text-decoration: none;
          color: white;
          font-size: 20px;
        }
        &:hover {
          transition: 0.2s;
          transform: scale(1.1);
          background-color: green;
        }
      }

      .location-top-picture, .type-top-picture, .budget-top-picture {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 15px;

        i {
          opacity: 80%;
          color: #203036;
          border-radius: 99px;
          border: 1px solid #203036;
          padding: 12.5px;
          font-size: 18px;
        }

        #location-icon {
          padding-left: 12px;
          padding-right: 12px;
          padding-top: 10px;
          padding-bottom: 10px;
          margin-left: 5%;
        }

        .under-filter {
          display: flex;
          flex-direction: column;
          margin-bottom: 15px;
          margin-top: 0px;

          p {
            margin-bottom: 0px;
            font-size: 22px;
          }

          .span-top-picture {
            opacity: 65%;
            font-size: 15px;
          }
        }
      }
    }
  }
}


/* Newest Properties*/

.properties-on-market {
  margin-left: 5%;
  margin-right: 5%;
  color: #203036;
  margin-bottom: 125px;
  margin-top: 50px;

  h2 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  span {
    opacity: 75%;
    font-weight: bold;
    font-size: 20px;
  }
}

.properties {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  height: 500px;
  overflow-x: scroll;
  overflow-y: hidden;
  
  .property {
    margin-top: 50px;
    width: 350px;
    height: 400px;
    background-color: #203036;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);

    a {
      text-decoration: none;
      color: white;
    }

    img {
      margin-top: -42px;
      width: 350px;
      height: 250px;
      object-fit: cover;
      border-radius: 5px 5px 0px 0px;
    }

    .property-type {
      position: relative;
      color: black;
      display: flex;
      width: 350px;
      justify-content: center;

      p {
        background-color: white;
        margin-top: 0px;
        padding-bottom: 5px;
        width: 150px;
        text-align: center;
        border-radius: 0px 0px 5px 5px;
        font-weight: bold;
        font-size: 17px;
      }
    }

    .property-info {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      text-decoration: none;

      h4 {
        font-size: 25px;
        margin: 0px;
        margin-bottom: 15px;
        margin-top: 25px;
        padding: 0px;
      }
      h5 {
        font-size: 22px;
        margin: 0px;
        padding: 0px;
        font-weight: normal;
      }
    }

    &:hover {
      transition: 0.2s;
      transform: scale(1.1);
      background-image: linear-gradient(to top, rgba(8, 96, 57, 0.799), rgba(0, 0, 0, 0)),
      url();
    }
  }
}

#last-property {
  position: relative;
}
#property-type-last {
  opacity: 25%;
}

.see-more-button {
  position: relative;
  text-decoration: none;
  color: white;
}

.see-more {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 400px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.750), rgba(0, 0, 0, 0.750)),url();
  border-radius: 5px;

  p {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 100px;
  }
}



/* Learn More content */

.content2-eco {
  background-color: #D9D9D9;
  margin-bottom: 100px;
  height: 520px;
}

.eco-friendly-content {
  display: inline-flex;
  align-items: center;
}

.eco-friendly-left {
  margin-left: 10%;
  margin-right: 5%;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.eco-friendly-textbox {
  color: #203036;
  font-size: 25px;
}

.learn-more-button {
  display: flex;
  justify-content: center;
}

.learn-more-button a p {
  background-color: #203036;
  padding: 15px;
  border-radius: 999px;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 22px;
  border: solid 2px #203036;
  &:hover {
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.578);
    transition: 0.2s;
    transform: scale(1.2);
  }
}

.eco-friendly-image {
  margin-right: 10%;
  margin-top: 25px;
  max-width: 485px;
  min-width: 300px;
  width: 100%;
}

.eco-friendly-image img {
  border-radius: 5px;
  height: 460px;
  width: 100%;
  object-fit: cover;
}

.content2-selling {
  background-color: #203036;
  margin-bottom: 100px;
  height: 520px;
}

.selling-content {
  display: inline-flex;
  align-items: center;
}

.selling-right {
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.selling-textbox {
  color: white;
  font-size: 25px;
}

#selling-content-button a p {
  background-color: #D9D9D9;
  padding: 15px;
  border-radius: 999px;
  color: #203036;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 22px;
  border: solid 2px #D9D9D9;
  &:hover {
    border: solid 2px #203036;
    transition: 0.2s;
    transform: scale(1.2);
  }
}

.selling-image {
  margin-left: 10%;
  margin-top: 25px;
  max-width: 485px;
  min-width: 350px;
  width: 100%;
}

.selling-image img {
  border-radius: 5px;
  height: 460px;
  width: 100%;
  object-fit: cover;
}

.content2-buying {
  background-color: #D9D9D9;
  margin-bottom: 100px;
  height: 520px;
}

.buying-content {
  display: inline-flex;
  align-items: center;
}

.buying-left {
  margin-left: 10%;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.buying-textbox {
  font-size: 25px;
  color: #203036;
}

.buying-image {
  margin-right: 10%;
  margin-top: 25px;
  max-width: 485px;
  min-width: 300px;
  width: 100%;
}

.buying-image img {
  border-radius: 5px;
  height: 460px;
  width: 100%;
  object-fit: cover;
}


/* Newsletter */

.bottom-content {
  position: relative;
  width: 101.5%;
  height: 375px;
  color: white;
  margin: 0px;
  padding: 0px;
}

.newsletter {
  .background-newsletter {
      position: relative;
      height: 375px;
      width: 100%;

      img {
          height: 375px;
          width: 100%;
          object-fit: cover;
          object-position: 50% 20%;
      }
  }

  .content-newsletter  {
      position: absolute;
      top: 0;
      width: 100%;
      height: 375px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .textbox-newsletter  {
          font-weight: bold;
          h3 {
              font-size: 45px;
              margin-bottom: 0px;
          }
          p {
              font-size: 21.5px;
          }
      }
      .submit-email-newsletter  {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 25px;

          .insert-email-newsletter  {
              width: 450px;

              input {
                  border: solid 2px white;
                  border-radius: 99px;
                  backdrop-filter: blur(25px);
                  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
                  opacity: 100%;
                  color: white; 
                  font-size: 20px;
                  background: none;
                  padding: 5px 5px 5px 20px;
                  width: 90%;
                  &:focus {
                      outline: none;
                  }
              }
          }

          .submit-button-newsletter  {
              cursor: pointer;

              p {
                  background-color: green;
                  padding: 10px 20px 10px 20px;
                  border-radius: 99px;
                  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
                  font-size: 20px;

                  &:hover {
                      transition: 0.2s;
                      transform: scale(1.2);
                      box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.516);
                  }
              }
          }
      }
  }
}


/* Make it responsive to smaller size screen*/

@media (max-width: 1760px) {

  .content1-properties {
    margin-top: 55px;
    margin-bottom: 55px;
    margin-right: 10%;
  }

  .properties {
    padding-top: 35px;
    padding-bottom: 35px;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  #last-property-all {
    .property-next-button {
      margin-top: 145px;
      margin-left: 150px;
    }
  }
}

@media (max-width: 1290px) {
  
.top-pic img{
  height: 500px;
}

.top-pic-content {
  top: 35%;
}

.top-pic-text {
  font-size: 25px;
}

.top-pic-filters {
  width: 650px;
  height: 65px;
}

.filter {
  display: flex;
  align-items: center;
  margin-inline: 20px;
}

.filter-text p {
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.filter-text span {
  font-size: 12px;
  opacity: 60%;
  margin-top: 0px;
}

.filter i {
  opacity: 75%;
  margin-right: 10px;
  margin-top: 5px;
  padding: 5px;
  font-size: 18px;
  border: solid black 1px;
  border-radius: 9999px;
}

#location-icon {
  padding-top: 3px;
  padding-bottom: 3px;
}

.filter-results {
  margin-right: 2%;
}

.filter-results p {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}

}

@media (max-width: 950px) {
  

  .content1-properties {
    margin-top: 55px;
    margin-bottom: 55px;
    h2 {
      font-size: 25px;
      color: #203036;
    }
  }

  .properties {
    padding-top: 35px;
    padding-bottom: 35px;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  #last-property-all {
    .property-next-button {
      margin-top: 145px;
      margin-left: 150px;
    }
  }

}

@media (max-width: 750px) {

  .eco-friendly-image {
    display: none;
  }
  
  .selling-image {
   display: none;
  }

  .buying-image {
   display: none;
  }

  .content2-eco {
    margin-bottom: 50px;
    height: 400px;
  }

  .content2-selling {
    margin-bottom: 50px;
    height: 400px;
  }

  .content2-buying {
    margin-bottom: 0px;
    height: 400px;
  }

  .newsletter {
    margin-top: 100px;
    height: 300px;
  }

  .newsletter-text {
    line-height: 10px;
    margin-top: 20px;
  }
  
  .newsletter-text h3 {
    font-size: 37.5px;
    font-weight: bolder;
  }
  
  .newsletter-text p {
    font-size: 19px;
  }
  
  .nexsletter-emailbox {
    gap: 10px;
    margin-top: 50px;
  }
  
  .enter-email {
    width: 400px;
    height: 35px;
  }
  
  .enter-email p {
    font-size: 22px;
    padding: 5px;
    margin-left: 10px;
  }
  
  .submit-button {
    height: 40px;
    font-size: 18px;
  }
  
  .submit-button p {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* Make it responsive to phones */

@media (max-width: 675px) {

  .top-pic img{
    height: 400px;
  }
  
  .top-pic-content {
    top: 30%;
  }
  
  .top-pic-text {
    font-size: 20px;
  }
  
  .top-pic-filters {
    width: 500px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .filter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .filter-text p {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .filter-text span {
    font-size: 12px;
    opacity: 60%;
    margin-top: 0px;
  }
  
  .filter i {
    opacity: 75%;
    margin-right: 10px;
    margin-top: 5px;
    padding: 5px;
    font-size: 18px;
    border: solid black 1px;
    border-radius: 9999px;
  }
  
  #location-icon {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  
  .filter-results {
    width: 100%;
    justify-content: center;
  }
  
  .filter-results p {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
  }

  .content2-eco {
    margin-bottom: 50px;
    height: 350px;
  }

  .content2-selling {
    margin-bottom: 50px;
    height: 350px;
  }

  .content2-buying {
    margin-bottom: 0px;
    height: 350px;
  }

  .eco-friendly-left {
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .eco-friendly-textbox {
    color: #203036;
    font-size: 20px;
  }
   
  .learn-more-button a p {
    padding: 10px;
    border-radius: 999px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
  }

  .buying-left {
    margin-left: 5%;
  }
  
  .buying-textbox {
    font-size: 20px;
    color: #203036;
  }

  .selling-textbox {
  color: white;
  font-size: 20px;
  }

  #selling-content-button a p {
  padding: 10px;
  border-radius: 999px;
  color: #203036;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  }

}

@media (max-width: 580px) {

  .top-pic-text {
    text-align: center;
    font-size: 17px;
    line-height: normal;
    margin-bottom: 0px;
    h2 {
      margin-bottom: 0px;
    }
    h1 {
      margin-top: 0px;
    }
  }
  
  .top-pic-filters {
    width: 300px;
    height: 50px;
    margin-top: 25px;
    width: 100%;
  }
  
  .filter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
    margin-left: 0px;
    justify-content: space-around;
  }
  
  .filter-text p {
    display: none;
  }
  
  .filter-text span {
    display: none;
  }
  
  .filter i {
    opacity: 85%;
    margin-right: 0px;
    margin-left: 0px;
  }
  
  #location-icon {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  
  .content2-selling {
    margin-bottom: 50px;
    height: 400px;
  }

  .content2-buying {
    margin-bottom: 0px;
    height: 400px;
  }

}

@media (max-width: 375px) {
  .eco-friendly-left {
    gap: 0px;
  }
  .selling-right {
    gap: 0px;
  }
  .buying-left {
    gap: 0px;
  }
}