#login-container {
    border: 2px solid #000000;
    background-color: #203036;
    width: 950px;
    height: 400px;
    margin-left: 250px;
    text-align: center;
    color: #ffffff;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 20px;
}

#login-container h1 {
    font-size: 45px;
}

#login-container label {
    font-size: 25px;
    margin-left: 30px;
}

#login-container input {
    width: 250px;
    margin-left: 20px;
}

#login-form-button {
    border-radius: 15px;
    background-color: #ffffff;
    width: 200px;
    margin-left: 390px;
    margin-top: 50px;
    border: 2px solid #000000;
}

#login-form-button:hover, #login-form-create-account-button:hover, #create-account-form-button:hover {
    background-color: #0C1435;
    width: 300px;
    height: 100px;
    border: 2px solid #ffffff;
}

#login-form-button a:hover, #login-form-create-account-button a:hover, #create-account-form-button a:hover {
    font-size: 70px;
}

#login-form-button a {
    text-decoration: none;
    color: red;
}

#login-form-text {
    font-size: 25px;
    text-align: center;
    color: #ffffff;
}

#login-form-create-account-button {
    background-color: #ffffff;
    border-radius: 15px;
    width: 250px;
    margin-left: 350px;
    border: 2px solid #000000;
}

#login-form-create-account-button a{
    text-decoration: none;
    color: red;
}

.hero-image-login {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://st4.depositphotos.com/1008011/25358/i/450/depositphotos_253584854-stock-photo-luxury-house-exterior-theme-blur.jpg')
}

.hero-image-login {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image-login {
    width: 1400px;
    border-radius: 15px;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.hero-text-login {
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

#create-account-form {
    width: 1000px;
    height: 500px;
    background-color: #203036;
    margin-left: 250px;
    margin-bottom: 40px;
    border-radius: 15px;
    border: 2px solid #000000;
}

#create-account-form label {
    font-size: 30px;
    color: #ffffff;
    margin-left: 250px;
    padding-top: 20px;
}

#create-account-form input {
    width: 350px;
    height: 15px;
}

#create-account-form-button {
    background-color: #ffffff;
    width: 200px;
    margin-left: 400px;
    margin-top: 50px;
    border-radius: 15px;
    border: 2px solid #000000;
}

#create-account-form-button a {
    text-decoration: none;
    color: red;
    text-align: center;
    margin-left: 50px;
}

#problems-with-creating-account {
    background-color: #0C1435;
    border: 2px solid #000000;
    border-radius: 15px;
    width: 900px;
    margin-left: 300px;
    margin-bottom: 40px;
}

#problems-with-creating-account p, #problems-with-creating-account h1 {
    color: #ffffff;
    text-align: center;
}

#problems-with-creating-account h1 {
    font-size: 40px;
}

#problems-with-creating-account p {
    font-size: 25px;
}

#problems-creating-account-button {
    background-color: #ffffff;
    width: 250px;
    margin-left: 350px;
    border: 15px;
    text-align: center;
    margin-bottom: 10px;
}

#problems-creating-account-button a {
    text-decoration: none;
    color: red;
}