.wrap { flex-wrap: wrap; }

.estate-naples, .estate-rome, .estate-venice, .estate-florence, .flex-three-info-boxes, .estate-geneva, .estate-zurich, .estate-bern, .estate-lucerne, .estate-edinburgh, .estate-glasgow, .estate-warsaw, .estate-wroclaw, .estate-gdansk, .estate-krakow, .estate-copenhagen, .estate-bucharest, .estate-amsterdam, .estate-rotterdam, .estate-oslo, .estate-bergen, .estate-stavanger, .estate-trondheimg, .estate-dundee, .estate-aberdeen, .estate-aarhus, .estate-aalborg, .estate-odense, .estate-brasov, .estate-sibiu, .estate-constanta, .estate-maastricht, .estate-breda, .estate-stockholm, .estate-malmo, .estate-gothenburg, .estate-orebro, .estate-helsinki, .estate-turku, .estate-tampere, .estate-porvoo, .estate-riga, .estate-ludza, .estate-jelgava, .estate-jurmala, .estate-london, .estate-birmingham, .estate-bristol, .estate-derby, .estate-berlin, .estate-munich, .estate-hamburg, .estate-frankfurt, .estate-paris, .estate-marseille, .estate-bordeaux, .estate-nice, .estate-athens, .estate-chania, .estate-patras, .estate-kavala, .estate-sofia, .estate-burgas, .estate-plovdiv, .estate-nessebar, .estate-prague, .estate-brno, .estate-liberec, .estate-karlovy-vary, .estate-ljubljana, .estate-maribor, .estate-piran, .estate-kamnik, .estate-valletta, .estate-mdina, .estate-victoria, .estate-senglea, .estate-belgrade, .estate-novi-sad, .estate-subotica, .estate-kraljevo, .estate-cork, .estate-waterford, .estate-dublin, .estate-galway, .estate-brussels, .estate-bruges, .estate-antwerp, .estate-ghent, .estate-zagreb, .estate-dubrovnik, .estate-split, .estate-rijeka, .estate-cardiff, .estate-newport, .estate-saint-asaph, .estate-bangor, .estate-vienna, .estate-innsbruck, .estate-graz, .estate-salzburg, .estate-tallinn, .estate-tartu, .estate-rakvere, .estate-narva, .estate-budapest, .estate-debrecen, .estate-tura, .estate-pecs, .estate-vilnius, .estate-visaginas, .estate-klaipeda, .estate-radviliskis, .estate-bratislava, .estate-nitra, .estate-kosice, .estate-banska, .estate-barcelona, .estate-madrid, .estate-valencia, .estate-san-sebastian, .estate-luxembourg, .estate-vianden, .estate-echternach, .estate-ettelbruck, .estate-lisbon, .estate-porto, .estate-funchal, .estate-evora, .estate-monte-carlo, .estate-saint-michel, .estate-monaco-city, .estate-condamine, .estate-borgo-maggiore, .estate-serravalle, .estate-domagnano, .estate-fiorentino, .estate-gibraltar-city, .estate-catalan-bay, .estate-rosia {
    display: flex;
}

.properties-container, .properties-container-one, .properties-container-three {
    height: 300x;
    width: 650px;
  border-radius: 7px 7px 7px 7px;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.properties-container-three {
  margin-top: 20px;
  margin-left: 30px;
}

.estate-photo {
    float: left;
    height: 220px;
    width: 325px;
}

.estate-photo img {
    height: 220px;
    width: 325px;
    border-radius: 7px 0 0 7px;
}

.estate-info {
    float: left;
  height: 220px;
  width: 325px;
  border-radius: 0 7px 10px 7px;
  background-color: #203036;
}

.estate-info-text {
    height: 220px;
    width: 325px;
    margin-left: -5px;
}

.estate-info-text h1 {
  width: 325px;
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  margin-top: 5px;
}

.estate-info-text p {
    height: 110px;
    text-align: center;
  color: #ffffff;
  font-size: 15px;
  font-weight: lighter;
  padding-left: 5px;
}

.properties-container {
  margin-left: 50px;
}

.estate-price {
    float: right;
    margin-top: -115px;
    margin-right: 100px;
    color: #ffffff;
}

.estate-price-one {
  float: right;
    margin-top: -115px;
    margin-right: 100px;
    color: #ffffff;
}

.estate-price p, .estate-price-one p {
  font-size: 25px;
}

#estate-button a, #estate-button-one a {
    float: right;
    background-color: #0C1435;
    text-decoration: none;
    color: #ffffff;
    margin-right: 80px;
    margin-top: -40px;
    width: 170px;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    border: 1px solid #ffffff;
}

.estate-naples h2, .estate-rome h2, .estate-venice h2, .estate-florence h2, .estate-zurich h2, .estate-bern h2, .estate-lucerne h2, .estate-edinburgh h2, .estate-glasgow h2, .estate-warsaw h2, .estate-wroclaw h2, .estate-gdansk h2, .estate-krakow h2, .estate-copenhagen h2, .estate-bucharest h2, .estate-amsterdam h2, .estate-rotterdam h2, .estate-oslo h2, .estate-bergen h2, .estate-stavanger h2, .estate-trondheimg h2, .estate-dundee h2, .estate-aberdeen h2, .estate-aarhus h2, .estate-aalborg h2, .estate-odense h2, .estate-brasov h2, .estate-sibiu h2, .estate-constanta h2, .estate-maastricht h2, .estate-breda h2, .estate-stockholm h2, .estate-malmo h2, .estate-gothenburg h2, .estate-orebro h2, .estate-helsinki h2, .estate-turku h2, .estate-tampere h2, .estate-porvoo h2, .estate-riga h2, .estate-ludza h2, .estate-jelgava h2, .estate-jurmala h2, .estate-london h2, .estate-birmingham h2, .estate-bristol h2, .estate-derby h2, .estate-berlin h2 , .estate-munich h2, .estate-hamburg h2, .estate-frankfurt h2, .estate-paris h2, .estate-marseille h2, .estate-bordeaux h2, .estate-nice h2, .estate-athens h2, .estate-chania h2, .estate-patras h2, .estate-kavala h2, .estate-sofia h2, .estate-burgas h2, .estate-plovdiv h2, .estate-nessebar h2, .estate-prague h2, .estate-brno h2, .estate-liberec h2, .estate-karlovy-vary h2, .estate-ljubljana h2, .estate-maribor h2, .estate-piran h2, .estate-kamnik h2, .estate-valletta h2, .estate-mdina h2, .estate-victoria h2, .estate-senglea h2, .estate-belgrade h2, .estate-novi-sad h2, .estate-subotica h2, .estate-kraljevo h2, .estate-cork h2, .estate-waterford h2, .estate-dublin h2, .estate-galway h2, .estate-brussels h2, .estate-bruges h2, .estate-antwerp h2, .estate-ghent h2, .estate-zagreb h2, .estate-dubrovnik h2, .estate-split h2, .estate-rijeka h2, .estate-cardiff h2, .estate-newport h2, .estate-saint-asaph h2, .estate-bangor h2, .estate-vienna h2, .estate-innsbruck h2, .estate-graz h2, .estate-salzburg h2, .estate-tallinn h2, .estate-tartu h2, .estate-rakvere h2, .estate-narva h2, .estate-budapest h2, .estate-debrecen h2, .estate-tura h2, .estate-pecs h2, .estate-vilnius h2, .estate-visaginas h2, .estate-klaipeda h2, .estate-radviliskis h2, .estate-bratislava h2, .estate-nitra h2, .estate-kosice h2, .estate-banska h2, .estate-barcelona h2, .estate-madrid h2, .estate-valencia h2, .estate-san-sebastian h2, .estate-luxembourg h2, .estate-vianden h2, .estate-echternach h2, .estate-ettelbruck h2, .estate-lisbon h2, .estate-porto h2, .estate-funchal h2, .estate-evora h2, .estate-monte-carlo h2, .estate-saint-michel h2, .estate-monaco-city h2, .estate-condamine h2, .estate-borgo-maggiore h2, .estate-serravalle h2, .estate-domagnano h2, .estate-fiorentino h2, .estate-gibraltar-city h2, .estate-catalan-bay h2, .estate-rosia h2 {
  text-align: center;
  margin-left: 550px;
}

.properties-container {
  margin-top: 130px;
  margin-left: -890px;
}

.properties-container-one {
  margin-top: 30px;
  margin-left: 30px;
}

.properties-container-naples-house-2 {
  margin-top: 130px;
  margin-left: 40px;
}

.properties-container-naples-house-three {
  margin-top: 30px;
  margin-left: 20px;
}

.properties-container-naples-house-four, .properties-container-rome-house, .properties-container-rome-house-two, .properties-container-florence-one {
  margin-top: 30px;
  margin-left: 40px;
}

.properties-container-naples-house-five, .properties-container-rome-house-three, .properties-container-venice-last, .properties-container-florence-last, .properties-geneva-house-last, .properties-zurich-last, .properties-bern-last, .lucerne-last-house, .edinburgh-last, .property-glasgow-last, .property-warsaw-last, .property-wroclaw-last, .property-gdansk-last, .property-krakow-last, .property-copenhagen-last, .property-bucharest-last, .property-amsterdam-last, .property-rotterdam-last, .proerpty-oslo-last, .proerpty-bergen-last, .proeprty-stavanger-last, .property-stavnager-last, .proerpty-last-dunde, .proerpty-aberdeen-last, .property-aarhus-last, .property-aalborg-last, .property-odense-last, .property-house-brasov-last, .property-sibiu-last, .property-constanta-last, .proerpty-masstricht-last, .property-breda-lasr, .property-stockholm-last, .property-malmo-last, .proeprty-gothenburg-house-last, .preoperty-orebro-last, .preoperty-helsinki-last, .property-turku-last, .property-tampere-last, .property-porvoo-last, .property-figa-last, .property-ludza-last, .property-jegava-last, .property-jumala-last, .property-london-lasr, .property-birimingham-last, .property-bristol-last, .property-derby-last, .property-berlin-last, .property-munich-last, .property-hamburg-last, .property-frankfurt-last, .property-paris-last, .property-marsille-last, .property-bordeaux-last, .property-nice-last, .property-athens-last, .property-chania-last, .property-patras-last, .property-kavla-last {
  margin-top: 30px;
  margin-left: 365px;
}

.properties-container-rome-house-one, .properties-container-venice-house, .properties-container-venice-house-two, .properties-container-florence-house {
  margin-top: 30px;
  margin-left: 30px;
}

.properties-container-venice, .properties-container-florence {
  margin-top: 20px;
  margin-left: 40px;
}

.properties-container-florence-last, .lucerne-last-house {
  margin-bottom: 30px;
}

#page-location-info-box {
  background-color: #0C1435;
  width: 900px;
  margin-left: 250px;
  color: #ffffff;
  border-radius: 15px;
  text-align: center;
  font-size: 20px;
  padding: 5px 5px 5px 5px;
  margin-top: 20px;
  border: 2px solid #000000;
}

#page-location-info-box h1 {
  font-size: 30px;
}

#book-a-tour-info-box, #price-info-box, #building-maybe-box {
  width: 450px;
  font-size: 20px;
  display: flex;
  background-color: #0C1435;
  border-radius: 20px;
  margin-left: 25px;
  margin-top: 20px;
  color: #ffffff;
  text-align: center;
  border: 2px solid #000000;
  margin-bottom: 30px;
}

#book-a-tour-info-box h1, #price-info-box h1, #building-maybe-box h1 {
  font-size: 25px;
}

#book-a-tour-info-box {
  height: 330px;
  margin-top: 90px;
}

#building-maybe-box {
  height: 350px;
  margin-top: 85px;
}

.properties-geneva {
  margin-left: 20px;
}

.estate-geneva h2 {
  margin-left: 500px;
}

.properties-geneva {
  margin-top: 150px;
  margin-left: -850px;
}

.properties-geneva-house {
  margin-left: 40px;
  margin-top: 150px;
}

.properties-geneva-house-one, .property-zurich, .properties-bern-house, .lucerne-property, .properties-edinburgh, .property-glasgow-house, .property-warsaw-house-one, .property-wroclaw-house-one, .property-gdansk-house-one, .property-krakow-house-one, .property-copenhagen-house-one, .property-bucharest-house-one, .property-amsterdam-house-one, .property-rotterdam-house-one, .property-oslo-house-one, .proeprty-bergen-house, .proerpty-stavaner-house, .proerpty-house-stavanger, .proerpty-dundee-house-one, .proerpty-aberdeen-house, .property-aarhus-house, .property-aalborg-house, .property-odense-house-one, .proeperty-brasov, .property-sibiu-house, .property-constanta-house-one, .property-breda-house-one, .prpoerty-stockholm-house-one, .property-malmo-house-one, .property-gotgenburg-house-one, .property-orebro-house-one, .preoperty-helsinki-house, .property-turku-house, .property-tampere-house-one, .property-porvoo-house-one, .property-riga-house-one, .property-ludza-house-one, .property-jelgava-house-one, .property-junmala-house-one, .property-london-house-one, .proerpty-birimingham, .property-bristol-house-one, .property-derby-houses, .property-berlin-house-one, .property-munich-house-one, .property-hamburg-house-one, .property-frankfurt-house-one, .property-paris-house-one, .property-marsille-house-one, .property-bordeaux-house-one, .property-nice-house-one, .property-athens-house-one, .property-chania-house-one, .property-patras-house-one, .property-kavla-house-one {
  margin-top: 20px;
  margin-left: 30px;
}

.properties-geneva-house-two, .properties-zurich-house, .properties-bern-house-one, .lucerne-properties, .property-glasgow-house-one, .property-warsaw-house-two, .property-wroclaw-house-two, .property-gdansk-house-two, .property-krakow-house-two, .property-copenhagen-house-two, .property-bucharest-house-two, .property-amsterdan-house-two, .property-rotterdam-house-two, .proerpty-oslo, .proerpty-bergen-house-one, .proerpty-hpuse-stavanger, .proeprty-stanvager-house-one, .proerpty-second-dundee, .proerpty-aberdeen-house-one, .property-aarhus-house-one, .property-aalborg-house-one, .property-odense-house-two, .property-brasov-house-one, .property-sibiu-house-one, .property-constanta-house-two, .property-masstricht-house-one, .property-masstricht-house-two, .proerpty-breda-house-two, .property-stockholm-house-two, .proerpty-malmo-house-two, .property-gothenburg-house-two, .preopety-orebro-house-two, .preoperty-helsinki-house-one, .property-turku-house-one, .property-tampere-house-two, .property-porvoo-house-two, .property-figa-house-two, .property-ludza-house-two, .property-jelgava-house-two, .property-jumala-house-two, .property-london-house-two, .property-birmingham-house-one, .property-bristol-house-two, .property-derby-house-one, .property-berlin-house-two, .property-munich-house-two, .property-hamburg-house-two, .property-frankfurt-house-two, .property-paris-house-two, .property-marsille-house-two, .property-bordeaux-house-two, .property-nice-house-tw, .property-athens-house-two, .property-chania-house-two, .property-patras-house-two, .property-kavla-house-two {
  margin-top: 20px;
  margin-left: 40px;
}

.zurich-proerpties, .property-bern, .propety-lucerne, .property-edinburgh, .property-glasglow, .property-warsaw, .property-wroclaw, .property-gdansk, .property-krakow, .property-copenhagen, .property-bucharest, .property-amsterdam, .property-rotterdam, .property-oslo, .property-bergen, .proerpty-stavanger, .proerpty-trondheimg, .property-dundee, .property-aberdeen, .property-aarhus, .property-aalborg, .property-odense, .property-brasov, .property-sibiu, .property-constanta, .property-masstricht, .property-breda, .property-stockholm, .property-malmo, .property-gothenburg, .property-orebro, .preoperty-helsinki, .proerpty-turku, .property-tampere, .property-porvoo, .property-riga, .property-ludza, .property-jelgava, .property-jurmala, .property-london, .property-birimingham, .property-bristol, .property-derby, .property-berlin, .property-munich, .property-hamburg, .property-frankfurt, .property-paris, .property-marseille, .property-bordeaux, .property-nice, .property-athens, .property-chania, .property-patras, .property-kavla {
  margin-left: 30px;
}

.properties-zurich, .properties-bern, .properties-lucerne, .edinburgh-property, .properties-glasgow, .property-warsaw-house, .property-wroclaw-house, .property-gdansk-house, .property-krakow-house, .property-copenhagen-house, .property-bucharest-house, .property-amsterdam-house, .property-rotterdam-house, .property-oslo-house, .proerpty-bergen, .proeperty-stavanger, .property-trondheim, .proerpty-dundee-house, .proerpty-aberdeen, .proerpty-aarhus, .proerpty-aalborg, .property-odense-house, .property-brasov-house, .property-sibiu-hoise, .property-constanta-house, .property-masstricht-house, .property-breda-house, .proerpty-stockholm-house, .property-malmo-house, .property-gothenburg-house, .property-orebro-house, .property-helsinki, .proerty-turku, .property-tampere-house, .property-porvoo-house, .property-riga-house, .property-ludza-house, .property-jelgava-house, .property-junmala-house, .property-london-house, .property-birimingham-house, .property-bristol-house, .property-derby-house, .property-berlin-house, .property-munich-house, .property-hamburg-house, .property-frankfurt-house, .property-paris-house, .property-marsille-house, .property-bordeaux-house, .property-nice-house, .property-athens-house, .property-chania-house, .property-patras-house, .property-kavla-house {
  margin-left: 40px;
}