.wrap { flex-wrap: wrap; }

.estate-naples, .estate-rome, .estate-venice, .estate-florence, .flex-three-info-boxes, .estate-geneva, .estate-zurich, .estate-bern, .estate-lucerne, .estate-edinburgh, .estate-glasgow, .estate-warsaw {
    display: flex;
}

.properties-container, .properties-container-one, .properties-container-three {
    height: 300x;
    width: 650px;
  border-radius: 7px 7px 7px 7px;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.properties-container-three {
  margin-top: 20px;
  margin-left: 30px;
}

.estate-photo {
    float: left;
    height: 220px;
    width: 325px;
}

.estate-photo img {
    height: 220px;
    width: 325px;
    border-radius: 7px 0 0 7px;
}

.estate-info {
    float: left;
  height: 220px;
  width: 325px;
  border-radius: 0 7px 10px 7px;
  background-color: #203036;
}

.estate-info-text {
    height: 220px;
    width: 325px;
    margin-left: -5px;
}

.estate-info-text h1 {
  width: 325px;
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  margin-top: 5px;
}

.estate-info-text p {
    height: 110px;
    text-align: center;
  color: #ffffff;
  font-size: 15px;
  font-weight: lighter;
  padding-left: 5px;
}

.properties-container {
  margin-left: 50px;
}

.estate-price {
    float: right;
    margin-top: -115px;
    margin-right: 100px;
    color: #ffffff;
}

.estate-price-one {
  float: right;
    margin-top: -115px;
    margin-right: 100px;
    color: #ffffff;
}

.estate-price p, .estate-price-one p {
  font-size: 25px;
}

#estate-button a, #estate-button-one a {
    float: right;
    background-color: #0C1435;
    text-decoration: none;
    color: #ffffff;
    margin-right: 80px;
    margin-top: -40px;
    width: 170px;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    border: 1px solid #ffffff;
}

.estate-naples h2, .estate-rome h2, .estate-venice h2, .estate-florence h2, .estate-zurich h2, .estate-bern h2, .estate-lucerne h2, .estate-edinburgh h2, .estate-glasgow h2, .estate-warsaw h2 {
  text-align: center;
  margin-left: 550px;
}

.properties-container {
  margin-top: 130px;
  margin-left: -890px;
}

.properties-container-one {
  margin-top: 30px;
  margin-left: 30px;
}

.properties-container-naples-house-2 {
  margin-top: 130px;
  margin-left: 40px;
}

.properties-container-naples-house-three {
  margin-top: 30px;
  margin-left: 20px;
}

.properties-container-naples-house-four, .properties-container-rome-house, .properties-container-rome-house-two, .properties-container-florence-one {
  margin-top: 30px;
  margin-left: 40px;
}

.properties-container-naples-house-five, .properties-container-rome-house-three, .properties-container-venice-last, .properties-container-florence-last, .properties-geneva-house-last, .properties-zurich-last, .properties-bern-last, .lucerne-last-house, .edinburgh-last, .property-glasgow-last, .property-warsaw-last {
  margin-top: 30px;
  margin-left: 365px;
}

.properties-container-rome-house-one, .properties-container-venice-house, .properties-container-venice-house-two, .properties-container-florence-house {
  margin-top: 30px;
  margin-left: 30px;
}

.properties-container-venice, .properties-container-florence, .edinburgh-house {
  margin-top: 20px;
  margin-left: 40px;
}

.properties-container-florence-last, .lucerne-last-house {
  margin-bottom: 30px;
}

#page-location-info-box {
  background-color: #0C1435;
  width: 900px;
  margin-left: 250px;
  color: #ffffff;
  border-radius: 15px;
  text-align: center;
  font-size: 20px;
  padding: 5px 5px 5px 5px;
  margin-top: 20px;
  border: 2px solid #000000;
}

#page-location-info-box h1 {
  font-size: 30px;
}

#book-a-tour-info-box, #price-info-box, #building-maybe-box {
  width: 450px;
  font-size: 20px;
  display: flex;
  background-color: #0C1435;
  border-radius: 20px;
  margin-left: 25px;
  margin-top: 20px;
  color: #ffffff;
  text-align: center;
  border: 2px solid #000000;
  margin-bottom: 30px;
}

#book-a-tour-info-box h1, #price-info-box h1, #building-maybe-box h1 {
  font-size: 25px;
}

#book-a-tour-info-box {
  height: 330px;
  margin-top: 90px;
}

#building-maybe-box {
  height: 350px;
  margin-top: 85px;
}

.properties-geneva {
  margin-left: 20px;
}

.estate-geneva h2 {
  margin-left: 500px;
}

.properties-geneva {
  margin-top: 150px;
  margin-left: -850px;
}

.properties-geneva-house {
  margin-left: 40px;
  margin-top: 150px;
}

.properties-geneva-house-one, .property-zurich, .properties-bern-house, .lucerne-property, .properties-edinburgh, .property-glasgow-house, .property-warsaw-house-one {
  margin-top: 20px;
  margin-left: 30px;
}

.properties-geneva-house-two, .properties-zurich-house, .properties-bern-house-one, .lucerne-properties, .property-glasgow-house-one, .property-warsaw-house-two {
  margin-top: 20px;
  margin-left: 40px;
}

.zurich-proerpties, .property-bern, .propety-lucerne, .property-edinburgh, .property-glasglow, .property-warsaw {
  margin-left: 30px;
}

.properties-zurich, .properties-bern, .properties-lucerne, .edinburgh-property, .properties-glasgow, .property-warsaw-house {
  margin-left: 40px;
}