

.content {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    color: #203036;
    h2 {
        font-size: 35px;
        margin-bottom: 15px;
    }
}

.property-details {
    display: flex;
    flex-direction: column;
}

.property-info {
    margin-top: 0px;
    margin-bottom: 50px;
    padding-bottom: 5px;
    width: 300px;
}


.property-info-description {
    margin-top: 0px;
    margin-bottom: 50px;
    width: 700px;
    padding-bottom: 200px;
}