.top-filter-rent {
    z-index: 1;
    padding-top: 100px;
    top: 0px;
    position: fixed;
    background-color: #556165;
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-left: 50px;
    padding-bottom: 75px;
    border-radius: 0px 0px 5px 0px;
    flex-wrap: nowrap;
    color: white;
    width: 240px;
    height: 100%;
    overflow: hidden;
    p {
      font-size: 19px;
      width: 240px;
      font-style: italic;
      opacity: 75%;
      margin-bottom: 0px;
      margin-top: 0px;
    }
    h2 {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }

  .budget-price {
    font-size: 22px;
    input {
      width: 90px;
    }
  }

  .filters {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5px;
    font-size: 22px;
  }

  .filtercontainer input {
    cursor: pointer;
    height: 20px;
    width: 20px;
  }

  .gobackbutton {
    margin-top: 25px;
    margin-bottom: 10px;
  }

  .gobackbutton button {
    color: white;
    font-size: 17px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #203036;
    border-radius: 9999px;
    opacity: 75%;
    border: solid 2px #203036;
    &:hover {
      box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
      opacity: 100%;
    }
  }