body {
    overflow-x: hidden;
    width: 100%;
}

.meet-the-team {
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: center;
    margin-right: 4%;
    color: #203036;
    height: 100%;
    margin-bottom: 100px;
    margin-left: 5%;
    margin-right: 3%;
    h1 {
        font-size: 55px;
        margin-bottom: 15px;
    }
    p {
        font-size: 25px;
        margin-right: 5%;
    }

    .team-mates {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
        color: white;

        .agent {
            margin-right: 2.5%;
            margin-top: 50px;
            background-image: url(/photos/squiggly3.png);
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 5px;
            box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
            width: 550px;
            height: 800px;

            .agent-textbox {
                margin-left: 50px;

                .contact-info-agent {
                    margin-top: 50px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .agent-phone, .agent-email {
                        display: flex;
                        flex-direction: row;
                        gap: 10px;

                        i {
                            color: lightblue;
                            margin-top: 5px;
                        }

                        a {
                            color: lightblue;
                            text-decoration: none;
                        }
                    }
                }
            }

            .agent-profile-picture {

                width: 550px;
                height: 350px;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 5px 5px 0px 0px;
                }

                #off-centered {
                    object-position: top;
                }
            }
        }
    }
}

@media (max-width: 1274px) {
    .meet-the-team {

        .team-mates {
            .agent {
                height: 550px;
                width: 950px;
                display: flex;
                flex-direction: row;
    
                .agent-textbox {
                    margin-left: 30px;
    
                    .contact-info-agent {
                        margin-top: 100px;
                    }
                }
    
                .agent-profile-picture {
    
                    width: 450px;
                    height: 550px;

                    img {
                        border-radius: 5px 0px 0px 5px;
                    }
                }
            }
        }
    }   
}
@media (max-width: 1030px) {
    .meet-the-team {

        .team-mates {
            .agent {
                height: 475px;
                width: 750px;
    
                .agent-textbox {
                    margin-left: 30px;
    
                    .contact-info-agent {
                        margin-top: 75px;
                    }
                }
    
                .agent-profile-picture {
    
                    width: 275px;
                    height: 475px;
                }
            }
        }
    }   
}
@media (max-width: 820px) {
    .meet-the-team {

        h1 {
            font-size: 40px;
            margin-bottom: 5px;
            margin-top: 0px;
        }
        p {
            font-size: 23px;
        }

        .team-mates {
            gap: 10px;
            .agent {
                height: 350px;
                width: 650px;
    
                .agent-textbox {
                    margin-left: 30px;
                    h4 {
                        font-size: 25px;
                    }
                    p {
                        font-size: 20px;
                    }
    
                    .contact-info-agent {
                        margin-top: 50px;
                        font-size: 20px;
                    }
                }
    
                .agent-profile-picture {
    
                    width: 275px;
                    height: 350px;
                }
            }
        }
    }   
}
@media (max-width: 704px) {
    .meet-the-team {

        .team-mates {
            .agent {
                height: 275px;
                width: 550px;
    
                .agent-textbox {
                    margin-left: 30px;
                    h4 {
                        font-size: 20px;
                    }
                    p {
                        font-size: 17px;
                    }
    
                    .contact-info-agent {
                        margin-top: 5px;
                        font-size: 17px;
                        gap: 5px;
                    }
                }
    
                .agent-profile-picture {
    
                    width: 200px;
                    height: 275px;
                }
            }
        }
    }   
}
@media (max-width: 490px) {
    .meet-the-team {

        .team-mates {
            .agent {
                height: 275px;
                width: 550px;
                .agent-profile-picture {
    
                    width: 175px;
                    height: 275px;
                }
            }
        }
    }   
}
@media (max-width: 445px) {
    .meet-the-team {

        .team-mates {
            .agent {
                height: 250px;
                width: 550px;

                .agent-textbox {
                    margin-left: 15px;
                    h4 {
                        margin-bottom: 0px;
                    }
                }

                .agent-profile-picture {
    
                    width: 150px;
                    height: 250px;
                }
            }
        }
    }   
}
@media (max-width: 407px) {
    .meet-the-team {

        h1 {
            font-size: 33px;
        }
        p {
            font-size: 20px;
        }

        .team-mates {
            .agent {
                height: 250px;
                width: 550px;

                .agent-profile-picture {
    
                    width: 125px;
                    height: 250px;
                }
            }
        }
    }   
}

@media (max-width: 375px) {
    .meet-the-team {

        .team-mates {
            gap: 0px;
            margin-bottom: 0px;
            .agent {
                flex-direction: column;
                height: 500px;
                width: 550px;

                .agent-profile-picture {
    
                    width: 100%;
                    height: 250px;

                    img {
                        border-radius: 5px 5px 0px 0px;
                    }
                }
            }
        }
    }   
}

@media (max-width: 300px) {
    .meet-the-team {
        h1 {
            font-size: 29px;
        }
        p {
            font-size: 19px;
        }
    }   
}