 /*Text Code*/
 #text {
    font-size: 17px;
    margin-left: -20px;
    padding-top: 10%;
    float: left;
    text-align: center;
  }

  /*Main Form Setting*/
  .contactform #checkoutform {
    background-color: #ffffff;
    color: #000000;
    width: 600px;
    padding: 1em;
    border: 2px solid #000000;
    border-radius: 1em;
  }

  /*Contact Form In Contact Page Code*/
  .contactform {
    margin: 50px auto;
  }

  /*Checkout Form Code*/
  .checkoutform {
    margin: 20px;
  }

  /*List Settings*/
  ul {
    list-style: none;
    padding: 10px;
    margin: 10px;
  }
  
  /*Length Of The Text In Form*/
  label {
    display: inline-block;
    width: 200px;
    text-align: center;
  }
  
  /*Input Field After This Sign*/
  label::after {
    content: ":"
  }

  /*Input Area Code*/
  inputtextarea {
  font: 1em sans-serif;
  width: 350px;
  box-sizing: border-box;
  border: 2px solid #000000;
  outline: none;
  background-color: #C0A9BD;
}

/*Comment Field Code*/
text area {
  vertical-align: middle;
  height: 5em;
  resize: vertical;
  resize: none;
}

/*Button In The Form*/
form a {
  border: 2px solid #C0A9BD;
  background-color: #000000;
  float: auto;
  cursor: pointer;
  border-radius: 15px;
  margin: 200px;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
}